* {
  box-sizing: border-box;
}

$sidebar-width: 30%;
$topbar-height: 30px;

#request-list {
  position: absolute;
  top: $topbar-height;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background: white;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  li {
    display: block;
    //overflow-x: visible;
    overflow: hidden;
    white-space: nowrap;
    height: 36px;
    padding: 0 5px;

    .main {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 22px;
      .method {
        font-weight: bold;
      }
    }
    .host {
      line-height: 6px;
      display: block;
      white-space: nowrap;
      font-size: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:nth-child(even) {
      background: #f4f4f4;
    }

    &.selected {
      background: #727272;
      color: white;
    }

    &.heading {
      background: #c82021;
      color: #fff;
      font-size: 8px;
      height: 10px;
      line-height: 10px;
    }
  }
}

#button-bar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: $topbar-height;
  border-bottom: 1px solid #888;
  background: #ddd;
  padding: 3px;

  button, input {
    height: $topbar-height - 6px;
    margin-right: 3px;
  }
}

#request-detail {
  position: absolute;
  top: $topbar-height;
  right: 0;
  bottom: 0;
  left: $sidebar-width;
  border-left: 1px solid #888;
  display: block;
  overflow: auto;
  > pre {
    padding: 20px;
  }
}

#drag-handle {
  display: block;
  position: absolute;
  top: $topbar-height;
  bottom: 0;
  width: 4px;
  left: $sidebar-width;
  margin-left: -2px;
  background: transparent;
  cursor: col-resize;
}