#request-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  background: #eee;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  li {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 0 10px;

    &:nth-child(even) {
      background: white;
    }
  }
}
//#request-list.empty::after {
//  content: "Redfin API requests will display here as they are received...";
//  text-align: center;
//}

#request-detail {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70% !important;
  border-left: 1px solid black;
  display: block;
  > pre {
    padding: 20px;
  }
  overflow: auto;
  box-sizing: border-box;
}